/*sidebar*/
.profile {
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 25px;
}

.name {
    font-family: 'STIX Two Text', serif;
    font-size: 50px;
    padding-left: 58px;
    margin-bottom:0px;
    color: white;
    
}

.job {
    font-family: 'STIX Two Text', serif;
    font-size: 25px;
    padding-left: 50px;
    margin-top:0px;
    color: white;
    
}

.sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:gray;
    overflow-x: hidden;
  }

  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #f1f1f1;
    display: block;
    margin-left: 30%;
  }

  .sidebar a:hover {
    color: #df2121;
  }

  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /*About me */

 
  .me {
      padding-left: 50%;
      font-size: 50px;
      font-family: 'Times New Roman', Times, serif;
      text-decoration: underline;
  }

  .aboutMe {
      padding-left: 28%; 
      font-size: 30px;
      position: relative;
      top:10px;
      width: 500px;
      display:inline-block;
      font-family:'Times New Roman', Times, serif;
      line-height: 150%;
  }

  /* slideshow */

  .slideshow-container {
      max-width: 150px;
      position: relative;
      float: right;
      margin: auto;
      padding-top:2%;
      padding-right: 15%;
      display:block;
  }

  .mySlides {
      display: none;
      
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /*education*/

  .skills {
    padding-left: 50%;
      font-size: 50px;
      font-family: 'Times New Roman', Times, serif;
      text-decoration: underline;
  }

  #teach {
    padding-left: 28%; 
    font-size: 30px; 
  }

  .certificates {
    display:inline-block;
  }